@import "../core/core.less";
.oui-fileinput{
	height:@item-height;
	width:@item-width;
	display:inline-block;
	position:relative;
	overflow:hidden;
	vertical-align:middle;
	
	.oui-file-selected{		
		width:100%;
		line-height:@item-height;
		color:lighten(@color-highlight, 20%);
		transition: all @transition-duration ease-in;
	}
	.oui-file-browse{
		overflow:hidden;
		width:80px;
		height:@item-height;
		right:0;
		top:0;
		position:absolute;
		button{		
			width:80px;
		}
		button, input{
			height:100%;
			height:100%;
			position:absolute;
			top:0;
			right:0;
			z-index:0;
			cursor:pointer;
			vertical-align:middle; 		
		}
		input{
			width:400%;
			z-index:1;	 
			opacity:0;			
			&:hover{
				~button{				
					.oui-button-hover;
				}
			}
			&:active~button{
				.oui-button-active;
			}
		}
	}
		
}

